
#app {
  width: 100%;
}
#contents {
  width: 100%;
}
#sc-wrap {
  width: 100%;
}
#sc-container {
  width: 100%;
}

#shop-card {
  border-radius: 5px;
  background-color: #FF9900;
  color: white;
  height: 100px;
  width: 150px;
  overflow: hidden;
  margin: 30px;
}
#sc-ul {
  width: 100%;
  padding: 0;
}
.sc-li {
  margin: 2px;
  padding: 0 5px;
  list-style: none;
  width: 100%;
  box-shadow: 0 0 5px lightgray;
  display: flex;
}
.sc-li p {
  padding: 5px;
  font-size: 15px;
  margin: 0;
}
#user-name {
  margin: 20px auto;
  vertical-align: middle;
  font-weight: bolder;
}
.user-icon {
  padding: 20px;
  width: 40px;
  border-radius: 1000px;
}
.likes {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}
.likes span {
  margin: 0 5px;
}
